<!--&lt;!&ndash;<p>home works!</p>-->

<!--<input type="button" value="to shoppping cart" (click)="onSubmit()"/>-->
<!--<input type="button" value="log out" (click)="logout()"/>&ndash;&gt;-->

<!-- Navigation -->

<img src="../../../assets/img/img2.jpg" alt="">
<!-- Header with Background Image -->
<!--<header class="business-header">
  &lt;!&ndash;<div class="container">
    <div class="row">
      &lt;!&ndash;<div class="col-lg-12">
        &lt;!&ndash;<h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1>&ndash;&gt;
      </div>&ndash;&gt;
    </div>
  </div>&ndash;&gt;
</header>-->

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">What We Do</h2>
      <p>The primary goal of Internet recruiting is the same as traditional recruiting: to find suitable talent to employ.
        However, this emerging recruitment tool is most frequently called upon for a quick employment solution if, after searching
        the corporate database for candidates, a recruiter is unable to find suitable talent.</p>
      <p>Online recruitment is often a practical and efficient way to find qualified candidates to fill positions in your business.
        This can be done by posting available positions on job boards and by reviewing candidate profiles. Websites designed to unite
        candidates with employers often prescreen applicants
        and check references before you even begin looking at those desiring to be hired.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">Contact Us</h2>
      <address>
        <strong>Main Stero Lore</strong>
        <br>3481 Mara
        <br>Srilanka, DF 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img src="../../../assets/img/img6.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Intern - Human Resources</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img src="../../../assets/img/img4.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Business Analytics</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img src="../../../assets/img/img5.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Human Resources Executive</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
